*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body { 
    font-family: 'Poppins', sans-serif; 
    background: #0d0d0d; 
    color: #fff; 
}
header {
    background: linear-gradient(135deg, #6e00ff, #bb00ff);
     padding: 70px 20px;
     text-align: center;
}
header h1 { 
    font-size: 45px;
    font-weight: 700;
}
header p { 
   margin-top: 10px; 
   font-size: 18px; 
   opacity: 0.9;
}
 nav {
    background: #1a1a1a;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 100;

 }
nav a { 
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.3s;
}
nav a:hover { 
    color: #bb00ff;
}
section { 
    padding: 50px 20px; 
    max-width: 1000px; 
    margin: auto; 
}
h2 { 
    font-size: 32px; 
    border-left: 5px solid #bb00ff; 
    padding-left: 12px; 
    margin-bottom: 20px; 
}
  /* PROJECT CARDS */
.projects { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 25px; 
}
.card { 
    background: #1a1a1a; 
    border-radius: 12px; 
    overflow: hidden; 
    border: 1px solid #333; 
    transition: 0.3s; 
}
.card img { 
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
}
.card-content { 
    padding: 20px; 
}
.card:hover { 
    transform: translateY(-5px); 
    border-color: #bb00ff; 
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #bb00ff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover { 
    background: #6e00ff; 
}
/*CONTACT FORM*/
form { 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
}
    
input, textarea {
        
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: #222;
    color: white;
}
button {
    padding: 12px;
    border: none;
    background: #bb00ff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover { 
    background: #6e00ff; 
}

footer { 
    background: #111; 
    text-align: center; 
    padding: 25px; 
    margin-top: 50px; 
    color: #bbb; 
}
/* MOBILE RESPONSIVE */
@media(max-width: 600px){
    header h1 { font-size: 32px; }
    nav { flex-wrap: wrap; gap: 15px; }
}
